<!DOCTYPE html>
<html>
<head>
    <title>Xmas gift~</title>
    <!-- Include Vue library，這裡是用dev版本，可以顯示各種warning，另外還有production版本-->
    <script src="https://unpkg.com/vue"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id='app'>
        <div id="chatbox" >   
            <p class= 'message phone'  v-for="item, index in message">
                {{ item }}
            </p>
        </div>
        <div >
            <input class= 'phone inputmsg' v-model='inputmsg' type="text" class="msger-input" id="msg" placeholder="輸入答案~" @keydown="keydown" >
            <button class= 'phone' type="button" id="send" class="msger-send-btn" @click='send'>發送訊息</button>
        </div>
    </div>

    <script>
        let socket = undefined;
        socket = io();
        var vue = new Vue({
            el: "#app",
            data:{
                inputmsg:"",
                name:"",
                message:[] 
            }, 
            methods: {
                send() {
                    if (socket && vue.inputmsg != "") {
                        socket.emit("send",  {name:vue.name, msg:vue.inputmsg});
                        vue.inputmsg = ""
                    }
                }, 
                keydown(e) {
                    if (socket && e.keyCode === 13 && vue.inputmsg !== "") {
                        socket.emit("send",  {name:vue.name, msg:vue.inputmsg});
                        vue.inputmsg = ""
                    }
                }
            }
        });

        socket.on("connect", function () {
            let uri = window.location.search.substring(1); 
            let userName = new URLSearchParams(uri).get("name");
            vue.name = userName;
            console.log("connect, name = " + userName)
        });
        
        socket.on("newMsg", function (msg) {
            console.log("newMsg : " + msg.name + ", " + msg.msg);
            vue.message.push( msg.name + " : " + msg.msg);
            let chatbox = document.getElementById('chatbox');
            chatbox.scrollTop = chatbox.scrollHeight;
        });
    </script>
</body>
<style> 
    #chatbox {
      box-sizing: content-box;  
      width: 200px;
      height: 500px;
      padding-bottom: 20px;  
      border: 3px solid gray;
      overflow:auto;
    }

    .message {
      margin-top: 0em;
      margin-bottom: 0em;
    }

    .phone {
        font-size: 40px;
    }

    .inputmsg {
        width: 200px;
    }

    </style>
</html>