<!DOCTYPE html>
<html>
<head>
    <title>Xmas gift~</title>
    <!-- Include Vue library，這裡是用dev版本，可以顯示各種warning，另外還有production版本-->
    <script src="https://unpkg.com/vue"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id='app'>
        <div class='landscape'><img class='img':src="image_name" alt=""></div>
        
        <table class='scorelist' style="width:100px" >
            <tr v-for="item,key in scoremap" :key='key'>
                <td class='score'>{{key}}</td>
                <td class='score'>{{item.score}}</td>
            </tr>
        </table>
        <div id="chatbox" >   
            <p class= 'message phone'  v-for="item, index in message" :key='index'>
                {{ item }} 
            </p>
            <p class= 'message phone'>---</p>
        </div>

        <div >
            <input class= 'phone inputmsg' v-model='inputmsg' type="text" class="msger-input" id="msg" placeholder="輸入答案~" @keydown="keydown" >
            <button class= 'phone' type="button" id="send" class="msger-send-btn" @click='send'>發送訊息</button>
        </div>


    </div>

    <script>
        let socket = undefined;
        socket = io();
        var vue = new Vue({
            el: "#app",
            data:{
                inputmsg:"",
                name:"",
                message:[],
                image_name:"",
                scoremap:{}
            }, 
            methods: {
                send() {
                    if (socket && vue.inputmsg != "") {
                        socket.emit("send",  {name:vue.name, msg:vue.inputmsg});
                        vue.inputmsg = ""
                    }
                }, 
                keydown(e) {
                    if (socket && e.keyCode === 13 && vue.inputmsg !== "") {
                        socket.emit("send",  {name:vue.name, msg:vue.inputmsg});
                        vue.inputmsg = ""
                    }
                }
            }
        });

        socket.on("connect", function () {
            let uri = window.location.search.substring(1); 
            let userName = new URLSearchParams(uri).get("name");
            vue.name = userName;
            console.log("connect, name = " + userName)
            socket.emit("joinGame", userName);
        });
        
        socket.on("newMsg", function (msg) {
            console.log("newMsg : " + msg.name + ", " + msg.msg);
            vue.message.push( msg.name + " : " + msg.msg);
            let chatbox = document.getElementById('chatbox');
            chatbox.scrollTop = chatbox.scrollHeight;
        });

        socket.on("next_round", function (image_msg) {
            console.log("image_msg" + image_msg)
            vue.image_name = image_msg;
            vue.message = [];
        });

        socket.on("userScoreChanged", function (scoremap) {
            console.log("userScoreChanged")
            vue.scoremap = scoremap;
        });

        socket.on("initData", function (data) {
            console.log("initData : " +  JSON.stringify(data))
            vue.scoremap = data.score;
            vue.image_name = data.image;
        });

        let testCount = 0;
        socket.on("testClient", function (ans) {
            testCount ++;
            console.log("testClient " + testCount);
            let str = "";
            let sleepTime = 0;
            let next = true;
            let testCountLocal = testCount;
            let msgCount = 0;
            
            str = "test";
            let f = function() {
                console.log("testClient, testCountLocal = " + testCountLocal);
                if (testCountLocal != testCount)
                    return;
                socket.emit("send",  {name:vue.name, msg:str});
                str = "test" + msgCount;
                msgCount ++;
                sleepTime = Math.random() * 2000;
                if (sleepTime < 200)
                    str = ans;
                setTimeout(f, sleepTime);
            }
            setTimeout(f, sleepTime);
        });
        socket.on("stopTestClient", function () {
            console.log("stopTestClient")
            testCount = -1;
        });

    </script>
</body>
<style> 
    #chatbox {
      box-sizing: content-box;  
      width: 600px;
      height: 700px;
      padding-left: 20px;  
      padding-bottom: 20px;  
      border: 3px solid gray;
      overflow:auto;
    }

    .message {
      margin-top: 0em;
      margin-bottom: 0em;
    }

    .phone {
        font-size: 50px;
    }

    .inputmsg {
        padding-left: 20px;  
        width: 200px;
    }

    .score {
      font-size: 50px;
      border: 1px solid gray;
    }

    .scorelist {
        margin-right:0em;
        float:right ;
    }

    .img {
        height: 500px;
        width: auto;
        object-fit: 'contain';
    }



    </style>
</html>