<!DOCTYPE html>
<html>
<head>
    <title>Xmas gift~</title>
    <!-- Include Vue library，這裡是用dev版本，可以顯示各種warning，另外還有production版本-->
    <script src="https://unpkg.com/vue"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id='app' class='phone'>
        <div class='landscape'><img class='img':src="image_name" alt=""></div>
        <input class='phone' id="image_name"/><button class='phone' @click='choose_image'>選擇圖片</button>
        <div>
            答案 : <input class='phone' v-model='answer_msg'/>
        </div>
        <button class='phone' @click='next_round'>開始猜題</button> 
        <button class='phone' @click='stop'>停止猜題</button> 
        <button v-if='debug' class='phone' @click='test'>測試</button>  
        <button v-if='debug' class='phone' @click='stopTest'>停止測試</button>  
        <table class='scorelist' style="width:100px" >
            <tr v-for="item,key in scoremap" :key='key'>
                <td class='score'>{{key}}</td>
                <td class='score'>{{item.score}}</td>
            </tr>
        </table>
        <div v-for='user,key in answeredUser' :key="key">
            {{key}} : {{user}}
        </div>
        <div id="chatbox" >   
            <p class= 'message phone'  v-for="item, index in message" :key='index'>
                {{ item }} 
            </p>
            <p class= 'message phone'>---</p>
        </div>
    </div>

    <script>
        let socket = undefined;
        socket = io();
        var vue = new Vue({
            el: "#app",
            data:{
                answer_msg:"",
                image_name:"",
                scoremap:{},
                answeredUser:{},
                message:[],
                debug : false
            }, 
            methods: {
                choose_image() {
                    vue.image_name = "/image?image_name=" + document.getElementById('image_name').value + ".png";
                    console.log(vue.image_name );
                },
                next_round() {
                    if (socket)
                        socket.emit("next_round", {image:vue.image_name, answer:vue.answer_msg});
                    vue.answer_msg = "";
                    vue.image_name = "";
                    document.getElementById('image_name').value = "";
                    vue.message = [];
                },
                stop() {
                    if (socket)
                        socket.emit("stop");
                },

                test() {
                    if (socket)
                        socket.emit("test");
                },

                stopTest() {
                    if (socket)
                        socket.emit("stopTest");
                }
            }
        });

        socket.on("connect", function () {
            socket.emit("joinGame");
        });

        socket.on("imageMsg", function (image_msg) {
            console.log("image_msg" + image_msg)
            vue.image_name = image_msg;
        });

        socket.on("userScoreChanged", function (scoremap) {
            console.log("userScoreChanged")
            vue.scoremap = scoremap;
        });

        socket.on("someoneAnswered", function (answeredUser) {
            console.log("someoneAnswered : " + JSON.stringify(answeredUser));
            vue.answeredUser = answeredUser;
        });

        socket.on("initData", function (data) {
            console.log("initData : " +  JSON.stringify(data))
            vue.scoremap = data.score;
            vue.debug = data.debug;
        });

        socket.on("newMsg", function (msg) {
            console.log("newMsg : " + msg.name + ", " + msg.msg);
            vue.message.push( msg.name + " : " + msg.msg);
            let chatbox = document.getElementById('chatbox');
            chatbox.scrollTop = chatbox.scrollHeight;
        });

    </script>

<style> 
    .phone {
        font-size: 50px;
    }
    .score {
      font-size: 50px;
      border: 1px solid gray;
    }

    .scorelist {
        margin-right:0em;
    }

    .img {
        height: 500px;
        width: auto;
        object-fit: 'contain';
    }

    #chatbox {
      box-sizing: content-box;  
      width: 400px;
      height: 500px;
      padding-left: 20px;  
      padding-bottom: 20px;  
      border: 3px solid gray;
      overflow:auto;
    }
    </style>
</body>


</html>